*.o
*.su
*.bin
*.map
*.list
*.cproject
.settings
*.project
*.mxproject
.metadata/
stm32_f103_display/
stm32f407VETx/Debug
tmp/
stm32f407VET_TestPins/Debug/
stm32f407VETx/Release/
mac/layoutexport/layoutexport.xcodeproj/xcuserdata/danielbraun.xcuserdatad/xcdebugger/
mac/train_throttle/train_throttle.xcodeproj/xcshareddata/
