*.o
*.su
*.bin
*.map
*.list
*.swp
*.launch
# *.cproject
.settings
# *.project
# *.mxproject
SWV_export
.metadata/
.depend
.gitignore.sav
stm32_f103_display/
stm32f407VETx/Debug
stm32f407VETx/Release/
stm32f4_test_store/Debug/
stm32f4_test_store/Release/
stm32f103_switcher/Debug/
stm32f103_switcher/Release/
stm32f103_dispatchboard/Debug/
stm32f103_dispatchboard/Release/
stm32f103_ui/Debug/
stm32f103_ui/Release/
G491_Slv1/Debug/Debug/
G491_Slv1/Debug/Release/
tmp/
stm32f407VET_TestPins/Debug/
mac/layoutexport/layoutexport.xcodeproj/xcuserdata/danielbraun.xcuserdatad/xcdebugger/
#mac/train_throttle/train_throttle.xcodeproj/xcshareddata/
.DS_Store
tags
xcdebugger
xcuserdata
mac/trackplan2/imported/
