#
# initially derived from low/canton_config.h
#

#  
#  typedef struct canton_config {
#          uint16_t volts_cv[8]; // unit : 1/100 V, from 1000 to 0
#          GPIO_TypeDef *volt_port_b0;
#          GPIO_TypeDef *volt_port_b1;
#          GPIO_TypeDef *volt_port_b2;
#          uint16_t volt_b0;
#          uint16_t volt_b1;
#          uint16_t volt_b2;
#          uint8_t pwm_timer_num; // 1.. index in CantonTimerHandles
#          uint32_t ch0;
#          uint32_t ch1;
#          uint8_t notif_bemf:1;
#          uint8_t reverse_bemf:1;
#  } canton_config_t;
#  

config canton {
  	const uint16_t volts_cv[8]   // unit : 1/100 V, from 1000 to 0
		= (all) { 1000, 770, 621,  538, 451, 413, 379, 355};

	const GPIO_TypeDef *volt_port_b0
		= (main:*) table(vpin_main, p0)
		= (default) NULL;
	const uint16_t volt_b0
		= (main:*) table(vpin_main, b0)
		= (default) 0;

	const GPIO_TypeDef *volt_port_b1
		= (main:*) table(vpin_main, p1)
		= (default) NULL;
	const uint16_t volt_b1
		= (main:*) table(vpin_main, b1)
		= (default) 0;

	const GPIO_TypeDef *volt_port_b2
		= (main:*) table(vpin_main, p2)
		= (default) NULL;
	const uint16_t volt_b2
		= (main:*) table(vpin_main, b2)
		= (default) 0;

    user uint8_t reverse_bemf:1
		= (default) 0;
	const int8_t **pptr 
		= (all:0) 1
		= (all:1) 10
		= (all:2) 100
		= (all) 42;
     
} num = (main) 6
      = (dispatcher) 1
      = (default) 0;

table vpin_main 
	( p0, b0,   	p1, b1,  	p2, b2,			tim, ch1, ch2)
    ( GPIOD, 0,		GPIOD, 1,	GPIOD, 2,		1, TIM_CHANNEL_1, TIM_CHANNEL_2)
    ( GPIOD, 3,		GPIOD, 4,	GPIOD, 5,		1, TIM_CHANNEL_3, TIM_CHANNEL_4)
    ( GPIOD, 6,		GPIOD, 7,	GPIOD, 8,		2, TIM_CHANNEL_3, TIM_CHANNEL_4)
    ( GPIOD, 9,		GPIOD, 10,	GPIOD, 11,		3, TIM_CHANNEL_1, TIM_CHANNEL_2)
    ( GPIOE, 2,		GPIOE, 3,	GPIOE, 5,		3, TIM_CHANNEL_3, TIM_CHANNEL_4)
;
