
config globparam {
    user uint16_t pwmfreq = (default) 100;
    user int test_mode = (default) 0;
    user int oscillo = (default) 0;
    user int ignoreIna3221 
            = (simu) 0
            = (default) 0;
    user int enable_adjust = (default) 0;
    user int enable_adjust_steep = (default) 1;
    user int disable_pose_update = (default) 1;
} num = (mainV0) 1
      = (mainV04) 1
      = (simu) 1
      = (G4master1) 1
      = (default) 0;
