
h_code {
// this code goes in all .h files
/*
 * Z-ATC configuration store
 * D. BRAUN 2022
 */

#ifndef TRAIN_SIMU
#include "trainctl_config.h"
#else
#include "train_simu.h"
#endif

}


c_code {
// this code goes in all .c files
/*
 * Z-ATC configuration store
 * D. BRAUN 2022
 */

// include board definitions

#ifndef TRAIN_SIMU
#include "trainctl_config.h"
#else
#include "train_simu.h"
#include <stdio.h>
#endif

}




attrib train store = normal
attrib train stnum = 1
attrib canton store = normal
attrib canton stnum = 2
attrib turnout store = normal
attrib turnout stnum = 3
attrib led store = normal
attrib led stnum = 4

attrib boards store = local
attrib boards stnum = 1
attrib topology store = local
attrib topology stnum = 2


attrib canton gentpl


