
h_code {
// this code goes in all .h files
/*
 * Z-ATC configuration store
 * D. BRAUN 2022
 */

#include "trainctl_config.h"

}


c_code {
// this code goes in all .c files
/*
 * Z-ATC configuration store
 * D. BRAUN 2022
 */

// include board definitions

#include "trainctl_config.h"

}




attrib train store = local
attrib train stnum = 1
attrib canton store = normal
attrib canton stnum = 2
attrib turnout store = normal
attrib turnout stnum = 3
attrib led store = normal
attrib led stnum = 4
attrib servo store = normal
attrib servo stnum = 5
attrib locomotive store = local
attrib locomotive stnum = 6

attrib globparam store = local
attrib globparam stnum = 10
attrib boards store = local
attrib boards stnum = 11
attrib topology store = local
attrib topology stnum = 12


attrib canton gentpl


