
h_code {
// this code goes in all .h files
/*
 * Z-ATC configuration store
 * D. BRAUN 2022
 */


}
c_code {
// this code goes in all .c files
/*
 * Z-ATC configuration store
 * D. BRAUN 2022
 */


}



