
config servo {
	const GPIO_TypeDef *port_power
		= (switcher:*) table(servosw, power_port)
		= (unit_test) table(utservo, power_port)
		= (default) NULL;
	const uint16_t pin_power
		= (switcher:*) table(servosw, power_pin)
		= (unit_test) table(utservo, power_pin)
		= (default) 0;
    const int8_t pwm_timer_num
        = (switcher:*) table(servosw, tim)
		= (unit_test) table(utservo, tim)
        = (simu) table(servosw, tim)
        = (default) -1;
    const int8_t pwm_timer_ch
        = (switcher:*) table(servosw, ch)
        = (simu) table(servosw, ch)
		= (unit_test) table(utservo, ch)
        = (default) 0;
    user int8_t direction
        = (switcher:*) table(servosw, dir)
        = (simu) table(servosw, dir)
		= (unit_test) table(utservo, dir)
        = (default) 0;
    user uint16_t min
        = (switcher:*) table(servosw, min)
        = (simu) table(servosw, min)
		= (unit_test) table(utservo, min)
        = (default) 0;
    user uint16_t max
        = (switcher:*) table(servosw, max)
        = (simu) table(servosw, max)
		= (unit_test) table(utservo, max)
        = (default) 0;
    user uint16_t spd
        = (switcher:*) table(servosw, spd)
        = (simu) table(servosw, spd)
		= (unit_test) table(utservo, spd)
        = (default) 0;
    user uint16_t pos0
        = (switcher:*) table(servosw, pos0)
        = (simu) table(servosw, pos0)
		= (unit_test) table(utservo, pos0)
        = (default) 0;
} num = (switcher) 2
      = (simu) 2
      = (unit_test) 4
      = (default) 0;

table servosw
	( power_port, power_pin,    tim,            ch,     min,    max,    spd,    pos0,   dir)
    ( GPIOD,             -1,      4, TIM_CHANNEL_1,    1000,   3700,     80,     5000,    0)
    ( GPIOD,             -1,      4, TIM_CHANNEL_2,    2300,   7230,     80,     5000,    0)
;

table utservo 
	( power_port, power_pin,    tim,            ch,     min,    max,    spd,    pos0n,    dir)
    ( GPIOD,             -1,      4, TIM_CHANNEL_1,    2300,   7230,     80,     5000,    0)
    ( GPIOD,             -1,      4, TIM_CHANNEL_2,    2300,   7230,     80,     5000,    0)
    ( GPIOD,             -1,      4, TIM_CHANNEL_3,    2300,   7230,     80,     5000,    0)
    ( GPIOD,             -1,      4, TIM_CHANNEL_4,    2300,   7230,     80,     5000,    0)
;

attrib servo h_code {


#ifndef TRAIN_SIMU
#ifdef STM32_F4
#include "stm32f4xx_hal.h"
#else
#include "stm32f1xx_hal.h"
#endif
#else
typedef void *GPIO_TypeDef;
#endif

}

