/*


typedef struct {
    uint8_t canton_addr;
    uint8_t ina_segnum;
    
    int8_t steep;
    uint8_t length_cm;
    
    int8_t left1;
    int8_t left2;
    uint8_t ltn; // leeee turnout
    int8_t right1;
    int8_t right2;
    uint8_t rtn; // leeee turnout
    
#ifdef TOPOLOGY_SVG
    int p0; // index in points for drawing text/info
    coord_t points[MAX_POINTS];
#endif
} topo_lsblk_t;


*/

config topology {
    user uint8_t canton_addr                    = (main) table(topo,canton);
    user int8_t ina_segnum                      = (main) table(topo,ina);
    
    user int8_t steep                           = (main) table(topo,stp);
    user uint8_t length_cm                      = (main) table(topo,len);
    
    user int8_t left1                           = (main) table(topo,l1);
    user int8_t left2                           = (main) table(topo,l2);
    user uint8_t ltn                            = (main) table(topo,ltn); 
    user int8_t right1                          = (main) table(topo,r1);
    user int8_t right2                          = (main) table(topo,r2);
    user uint8_t rtn                            = (main) table(topo,rtn);

    user int p0 = (default) table(topo,p0);
    user coord_t points[4] = (default) table(topo, pts);
} num = (main) 64
      = (default) 0;


table topo
        (canton,             ina,  stp,  len,    l1,    l2,   ltn,       r1,   r2,  rtn,      p0,  pts)
/* 0 */ ( MA_CANTON(0, 0),     2,   0,    98,    -1,    -1,  0xFF,        1,   -1,    0,      2,  {{L0+1,2}, {L0+4,2}, {L0+5,3}, {L0+5,9}})
/* 1 */ ( MA_CANTON(0, 1),     1,   0,    23,     0,     3,     0,        4,   12,    5,      0,  {{L0+5,10}, {L0+5,11}, _VP, _VP})
/* 2 */ ( MA_CANTON(0, 2),     0,   0,    70,    -1,    -1,  0xFF,        3,   11,    4,      2,  {{L0+1,3}, {L0+3,3}, {L0+4,4}, {L0+4,5}})
/* 3 */ ( MA_CANTON(0, 2),     0,   0,    20,     2,    -1,     4,       -1,    1,    0,      0,  {{L0+4,6}, {L0+4, 9}, _VP, _VP})
/* 4 */ ( MA_CANTON(0, 1),     1,   0,    22,     1,    -1,     5,       -1,    5,    1,      0,  {{L0+5, 12}, {L0+5, 14}, _VP, _VP})

/* 5 */ ( MA_CANTON(0, 3),  0xFF,   0,    54,     6,     4,     1,       -1,   -1, 0xFF,      0,  {{L0+6,15}, {L0+6,17}, {L0+5,18}, {L0+1,18}})
/* 6 */ ( MA_CANTON(0, 3),  0xFF,  -1,    80,    -1,     7,     2,        5,   -1,    1,      0,  {{L0+7,4}, {L0+7,8}, {L0+6,10}, {L0+6,14}})
/* 7 */ ( MA_CANTON(0, 3),  0xFF,   0,    58,    -1,    -1,  0xFF,        8,    6,    2,      0,  {{L0+1,1}, {L0+5,1}, {L0+6,2}, {L0+6,3}})
/* 8 */ ( MA_CANTON(0, 3),  0xFF,   0,    36,     7,    -1,     2,        9,   -1, 0xFF,      0,  {{L0+6,4}, {L0+6,6}, _VP, _VP})
/* 9*/  ( FUTURE_CANTON,    0xFF,   0,    60,     8,    -1,  0xFF,       10,   -1, 0xFF,      3,  {{L0+6,6}, {L0+6,8}, {L0+7,10} ,{L0+7, 14} })
/* 10*/ ( FUTURE_CANTON,    0xFF,   0,    60,     9,    -1,  0xFF,       -1,   -1, 0xFF,      0,  {{L0+7,14}, {L0+7,18}, {L0+6,19}, {L0+1, 19} })

/* 11*/ ( FUTURE_CANTON,    0xFF,   0,    20,    -1,     2,     4,       -1,   21,   11,      0,  {{L0+3,6}, {L0+3,7}, _VP, _VP })
/* 12*/ ( FUTURE_CANTON,    0xFF,   0,    20,    -1,     1,     5,       13,   -1,    6,      0,  {{L0+4,12}, {L0+3, 13}, _VP, _VP })
/* 13*/ ( FUTURE_CANTON,    0xFF,   0,    20,    12,    15,     6,       14,   -1,    7,      0,  {{L0+2,14}, {L0+1, 15}, _VP, _VP })
/* 14*/ ( FUTURE_CANTON,    0xFF,   0,    20,    13,    16,     7,       -1,   -1, 0xFF,      0,  {{L0+0,16}, {L0-1, 17}, _VP, _VP })

/* 15*/ ( FUTURE_CANTON,    0xFF,   0,    20,    21,    -1,    10,       -1,  -1,     6,      0,  {{L0+2,10}, {L0+2, 13}, _VP, _VP })
/* 16*/ ( FUTURE_CANTON,    0xFF,   0,    20,    17,    19,     8,       -1,  14,     7,      0,  {{L0+0,14}, {L0+0, 15}, _VP, _VP })

/* 17*/ ( FUTURE_CANTON,    0xFF,   0,    20,    18,    20,     9,       16,  -1,     8,      0,  {{L0+0, 12}, {L0+0, 13}, _VP, _VP })
/* 18*/ ( FUTURE_CANTON,    0xFF,   0,    20,    -1,    -1,  0xFF,       17,  -1,     9,      0,  {{L0+0, 4}, {L0+0, 11}, _VP, _VP})

/* 19*/ ( FUTURE_CANTON,    0xFF,   0,    20,    -1,    -1,  0xFF,      -1,  16,     8,      0,  {{L0-1,4}, {L0-1, 13}, _VP, _VP})
/* 20*/ ( FUTURE_CANTON,    0xFF,   0,    20,    -1,    21,    10,      -1,  17,     9,      0,  {{L0+1,10}, {L0+1, 11}, _VP, _VP})

/*21*/  ( FUTURE_CANTON,    0xFF,   0,    20,    22,    11,    11,      20,  15,    10,      0,  {{L0+2,8}, {L0+2, 9}, _VP, _VP})
/*22*/  ( FUTURE_CANTON,    0xFF,   0,    20,    -1,    -1,  0xFF,      21,  -1,    11,      0,  {{L0+2,4}, {L0+2, 7}, _VP, _VP})


/*-1*/  (FUTURE_CANTON,     0xFF,   0,      0,   -1,    -1,  0xFF,      -1,  -1,  0xFF,      0,  {{L0+2,0}, {L0+0, 0}, _VP, _VP})
;
