/*


*/



config train {
    user uint8_t locotype 
	= (all:0) 2
	= (all:1) 4
	= (default)0;
    user uint8_t enabled:1
        = (all:0) 1
        = (all:1) 1
        = (default) 0;
    
	const uint8_t notify_pose:1
        = (default) 0;

    user uint8_t trainlen_left_cm
        = (default) 10
        = (all:0) 1
        = (all:1) 15;
    user uint8_t trainlen_right_cm
        = (default) 10
        = (all:0) 1
        = (all:1) 2;
    
} num = (mainV0) 8
      = (mainV04) 8
      = (simu) 4
      = (G4master1) 8
      = (unit_test) 4
      = (default) 0;


attrib train c_code {
    // this goes only in config_train.c
}
