#


config utest {
    const uint32_t fixed = (default) 42;
	user uint32_t alpha
		= (main:*) 1000
		= (default) 1001;
	user uint32_t beta
		= (main:*) 1000
		= (default) 1001;

} num = (main) 1
      = (dispatcher) 1          # TODO
      = (default) 1;


attrib utest h_code {

// error used only for unit test

}
attrib utest c_code {

// used only for unit test

}


config utestloc {
    const uint32_t fixed = (default) 42;
    user uint32_t alpha
        = (main:1) 1001
        = (main:2) 1002
        = (default) 1000;
    user uint32_t beta
        = (main:1) 2001
        = (main:2) 2002
        = (default) 2000;
} num = (main) 4
      = (default) 0;


attrib utest store = normal
attrib utest stnum = 8
attrib utestloc store = local
attrib utestloc stnum = 9
